@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --background-color: hsl(0, 0%, 98%);
    --color:  hsl(200, 15%, 8%);
    --elements-color: hsl(0, 0%, 100%);
    font-family: 'Nunito';
    background-color: var(--background-color);
    color: var(--color)
}

body.dark {
    --background-color: hsl(207, 26%, 17%);
    --color: hsl(0, 0%, 100%);
    --elements-color: hsl(209, 23%, 22%);
}

.header-container {
    box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;

}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: var(--elements-color);
    color: inherit;
    z-index: 10;
}

.dark-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.search-filter-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--elements-color);
    color: var(--color);
}

.search-filter-container input {
    width: 85%;
    padding-block: 16px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: var(--elements-color);
    color: var(--color);
}

.search-filter-container i {
    color: grey;
}
.search-filter-container input ::placeholder {
    color: grey;
}

main {
    padding: 24px;
}

.sub-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    
}

.filter-region {
    margin-right: 24px;
    box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--elements-color);
    color: var(--color);
}

.filter-region select {
    padding-block: 16px;
    border: none;
    outline: none;
    padding-inline: 24px;
    background-color: var(--elements-color);
    color: var(--color);

}

footer {
    text-align: center;
    position: sticky;
    bottom: 12px;
}
.countries-container {
    max-width: 1280px;
    /* margin-inline: auto; */
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.country-card {
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    background-color: var(--elements-color);
}

.country-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.country-card img {
    width: 100%;
}

.card-text {
    padding-inline: 12px;
    padding-block: 16px;
}
.country {
    font-size: 24px;
    margin-block: 8px;
}

@media(max-width: 850px) {
    .header-content h1 {
        font-size: 24px;
    }
    .header-content {
        padding-inline: 12px;
    }
    .sub-main {
        flex-direction: column;
        align-items: initial;
        gap: 20px;
    }
    .search-filter-container {
        width: 65%;
        font-size: initial;
    }
    .filter-region {
        max-width: 50%;
        font-size: 12px;
    }
}
@media(max-width: 610px) {
    .countries-container {
        justify-content: center;
    }
}
@media(max-width: 430px){
    .header-content h1 {
        font-size: 18px;
    }
}
